wyfgis/branches/1.0.0/eclipse_src/giserver/src/main/webapp/WEB-INF/wsdl/wms_1_3_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:ns="http://sourceforge.net/projects/giserver"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://sourceforge.net/projects/giserver">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="unqualified" targetNamespace="http://sourceforge.net/projects/giserver">
			<xs:element name="getCapabilitiesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:base64Binary" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCapabilitiesSoapIn">
		<wsdl:part name="Version" element="xs:string" />
		<wsdl:part name="Exception" element="xs:string" />
		<wsdl:part name="Server" element="xs:string" />
		<wsdl:part name="Service" element="xs:string" />
	</wsdl:message>
	<wsdl:message name="getCapabilitiesSoapOut">
		<wsdl:part element="ns:getCapabilitiesResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="WMSPort">
		<wsdl:operation name="getCapabilities">
			<wsdl:input message="ns:getCapabilitiesSoapIn" />
			<wsdl:output message="ns:getCapabilitiesSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WMSBinding" type="ns:WMSPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCapabilities">
			<soap:operation soapAction="ns:getCapabilities" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WMS">
		<wsdl:port name="WMSPort" binding="ns:WMSBinding">
			<soap:address location="http://localhost:8080/giserver/wms" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
